/* GENERICS */
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Calibri, sans-serif;
  font-size: 10pt;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
table td,
table th {
  vertical-align: top;
  padding: 0;
}





/* OVERALL LAYOUT */
.templates {
  display: none;
}
.page-with-bleed {
  width: 6in;
  height: 9in;
  padding: 24px; /* 0.25in */
}
.page:nth-child(odd) .page-with-bleed {
  padding-right: 71px; /* Exact measurement to align with the dot grid */
}
.page:nth-child(even) .page-with-bleed {
  padding-left: 71px; /* Exact measurement to align with the dot grid */
}
.page-inside-bleed {
  /* This is 5.5in x 8.5in */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page-header {
  height: calc(16px * 3);
  background-color: white;
}
.page:nth-child(even) .page-header {
  text-align: right;
}
.footer {
  height: calc(16px * 1);
  font-style: italic;
  font-size: 0.9em;
  /* background-color: white; */
}
.page:nth-child(even) .footer {
  text-align: right;
}
.vertical-expander {
    flex: 1 1;
}





/* PRINT */
@media print {
  .page-with-bleed {
    page-break-after: always;
  }
  .gap-page {
    display: none;
  }
  .gap-page .page-with-bleed {
    page-break-after: initial;
  }
}
@media not print {
  body {
    background-image:
      linear-gradient(45deg, #f0f0f0 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #f0f0f0 75%),
      linear-gradient(45deg, transparent 75%, #f0f0f0 75%),
      linear-gradient(45deg, #f0f0f0 25%, #ffffff 25%);
    background-size:20px 20px;
    background-position: 0 0, 0 0, -10px -10px, 10px 10px;
  }
  .page-container {
    max-width: 17in;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .page {
    border: 2px solid grey;
    margin-bottom: 0.25in;
  }
  .page-with-bleed {
    background-color: white;
  }
  .gap-page {
    visibility: hidden;
  }
}





/* STYLES COMMON TO ALL PAGES */
.page-header {
  font-size: 2em;
  font-weight: bold;
}
.dot-bg {
  background-image: url(grid16b.png);
  background-size: 1in 1in;
  image-rendering: pixelated;
}





/* GAP PAGE */
.gap-page {
  padding: 0;
  margin: 0;
}
.gap-page .page-with-bleed {
  height: 0;
  padding: 0;
  margin: 0;
}





/* IF FOUND */
.if-found-page .belongs-to {
  /* width: 100%; */
  margin-right: auto;
}
.if-found-page .belongs-to td {
  padding-top: 0.15in;
}
.if-found-page .belongs-to td.header {
  width: 1in;
  text-align: right;
  padding-right: 0.125in;
}
.if-found-page .belongs-to td.blank {
  width: 2in;
  border-bottom: 1px solid black;
}





/* HABITS PAGE */
.habits-page .wrapper {
  padding-right: 0.05in;
  padding-bottom: 0.05in;
  position: absolute;
  background-color: white;
}
.habits-page .habits-table thead th {
  height: calc(16px * 10);
}
.habits-page .habits-table .title {
  transform: rotate(-90deg);
  translate: -64px 84px;
  white-space: nowrap;
  position: absolute;
  width: 140px;
  font-size: 1.2em;
  font-style: italic;
}
.habits-page .habits-table thead th:first-child {
  border: 0;
}
.habits-page .habits-table th,
.habits-page .habits-table td {
  border: 1px solid black;
}
.habits-page .habits-table tr {
  height: calc(16px * 1);
}
.habits-page .habits-table th {
  width: calc(16px * 1);
  font-size: 0.8em;
}
.habits-page .habits-table td {
  width: calc(16px * 2);
}

/* MONTH SPREAD */
.page.month-spread:nth-child(odd) .month-table {
  margin-right: auto;
}
.page.month-spread:nth-child(even) .month-table {
  margin-left: auto;
}
.month-spread .month-table thead th {
  width: calc(16px * 10);
}
.month-spread .month-table thead tr {
  height: calc(16px * 2);
  font-size: 1.2em;
}
.month-spread .month-table thead th {
  vertical-align: middle;
  border: 1px solid black;
  background-color: #c0c0c0;
  padding: 0 0.03in;
}
.month-spread .month-table tbody tr {
  height: calc(16px * 4);
}
.month-spread .month-table tbody tr.smaller {
  height: calc(16px * 3);
}
.month-spread .month-table tbody td {
  border: 1px solid black;
  font-size: 1.1em;
  padding: 0.03in;
}
.month-spread .month-table tbody td .day-num {
  background-color: white;
  padding-right: 6px;
  font-weight: bold;
}
.month-spread .month-table tbody td.extra-day {
  background-color: #e9e9e9;
}
.month-spread .month-table tbody td.extra-day .day-num {
  background-color: #e9e9e9;
}





/* WEEK SPREAD */
.page.week-spread:nth-child(odd) .week-table {
  margin-right: auto;
}
.page.week-spread:nth-child(even) .week-table {
  margin-left: auto;
}
.week-spread .week-table tr {
  height: calc((16px * 13));
}
.week-spread .week-table tr.weekend {
  height: calc(16px * 9);
}
.week-spread .week-table td {
  width: calc(16px * 30);
  border: 1px solid black;
}
.week-spread .cell-header {
  font-size: 1.2em;
  font-weight: bold;
  line-height: calc(16px * 2);
  display: flex;
  flex-direction: row;
  padding: 0 0.2em;
  background-color: white;
}
.week-spread .week-table .cell-header {
  background-color: #c0c0c0;
}
.week-spread .week-table tr.weekend .cell-header {
  background-color: #e9e9e9;
}
.week-spread .week-table .cell-header .day-num {
  background-color: #555555;
  border-radius: 50%;
  width: 0.25in;
  text-align: center;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0.25in;
}
.week-spread .week-table .cell-header .day-of-week {
  flex: 1;
  padding-left: 0.2em;
}
.week-spread .week-table .cell-content {
  display: flex;
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  height: calc(16px * (13 /* row height */ - 2 /* header height */ - 0.5 /* just some extra */));
}
.week-spread .week-table .cell-content .personal-col {
  width: calc((16px * 13) - 2px);
}
.week-spread .week-table .cell-content .vertical-sep {
  min-width: 3px;
  flex: 0;
  background: linear-gradient(to bottom, #c0c0c0 0%, #ffffff 75%);
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.week-spread .week-table .cell-content .work-col {
  flex: 1;
}
.week-spread .who-is-where {
  display: inline-block;
  width: calc(16px * 3);
  color: grey;
  border-left: 1px solid grey;
  font-size: 0.7em;
  font-weight: normal;
  font-style: italic;
  padding-left: 3px;
}
