/* GENERICS */
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Calibri, sans-serif;
  font-size: 10pt;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
table td,
table th {
  vertical-align: top;
  padding: 0;
}





/* OVERALL LAYOUT */
.templates {
  display: none;
}
.page-with-bleed {
  width: 6in;
  height: 9in;
  padding: 0.2in;
}
.page:nth-child(odd) .page-with-bleed {
  padding-right: 0.4in;
}
.page:nth-child(even) .page-with-bleed {
  padding-left: 0.4in;
}
.page:nth-child(odd) table {
  margin-right: auto;
}
.page:nth-child(even) table {
  margin-left: auto;
}
.page-inside-bleed {
  /* This is 5.5in x 8.5in */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  height: 0.4in;
}
.page:nth-child(even) .header {
  text-align: right;
}
.footer {
  height: 0.2in;
  font-style: italic;
  font-size: 0.9em;
}
.page:nth-child(even) .footer {
  text-align: right;
}
.vertical-expander {
    flex: 1 1;
}





/* PRINT */
@media print {
  .page-with-bleed {
    page-break-after: always;
  }
  .gap-page {
    display: none;
  }
  .gap-page .page-with-bleed {
    page-break-after: initial;
  }
}
@media not print {
  body {
    background-image:
      linear-gradient(45deg, #f0f0f0 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #f0f0f0 75%),
      linear-gradient(45deg, transparent 75%, #f0f0f0 75%),
      linear-gradient(45deg, #f0f0f0 25%, #ffffff 25%);
    background-size:20px 20px;
    background-position: 0 0, 0 0, -10px -10px, 10px 10px;
  }
  .page-container {
    max-width: 17in;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .page {
    border: 2px solid grey;
    margin-bottom: 0.25in;
  }
  .page-with-bleed {
    background-color: white;
  }
  .gap-page {
    visibility: hidden;
  }
}





/* STYLES COMMON TO ALL PAGES */
.header {
  font-size: 2em;
  font-weight: bold;
}
.dot-bg {
  background-image: url(grid16.png);
  background-size: 1in 1in;
  image-rendering: pixelated;
}





/* GAP PAGE */
.gap-page {
  padding: 0;
  margin: 0;
}
.gap-page .page-with-bleed {
  height: 0;
  padding: 0;
  margin: 0;
}





/* IF FOUND */
.if-found-page .belongs-to ul {
  margin: 0;
  padding: 0 0 0 0.125in;
}
.if-found-page .belongs-to li {
  margin-bottom: 0.25in;
  list-style: none;
  padding: 0;
  margin: 0;
}





/* MONTH SPREAD */
.month-spread .day-col {
  width: 1.8in;
}
.month-spread .header-row {
  height: calc((1in / 6) * 2);
  font-size: 1.2em;
}
.month-spread .header-row th {
  vertical-align: middle;
  border: 1px solid black;
  background-color: #c0c0c0;
  padding: 0 0.03in;
}
.month-spread .day-row {
  height: calc(((1in / 6) * 4) - 1px);
}
.month-spread .day-row.smaller {
  height: calc(((1in / 6) * 3) - 1px);
}
.month-spread .day-cell {
  border: 1px solid black;
  font-size: 1.1em;
  padding: 0.03in;
}
.month-spread .day-cell .day-num {
  background-color: white;
  padding-right: 6px;
  font-weight: bold;
}
.month-spread .day-cell.extra-day {
  background-color: #e9e9e9;
}
.month-spread .day-cell.extra-day .day-num {
  background-color: #e9e9e9;
}





/* WEEK SPREAD */
.week-spread .day-row {
  height: calc(((1in / 6) * 12) - 1px);
}
.week-spread .day-row.half-height {
  height: calc(((1in / 6) * 8) - 1px);
}
.week-spread .day-cell {
  width: calc(((1in / 6) * 24) - 1px);
  border: 1px solid black;
}
.week-spread .cell-header {
  font-size: 1.2em;
  font-weight: bold;
  line-height: calc((1in / 6) * 2);
  display: flex;
  flex-direction: row;
  padding: 0 0.2em;
  background-color: white;
}
.week-spread .day-cell .cell-header {
  background-color: #c0c0c0;
}
.week-spread .day-row.half-height .day-cell .cell-header {
  background-color: #e9e9e9;
}
.week-spread .day-cell .cell-header .day-num {
  background-color: #555555;
  border-radius: 50%;
  width: 0.25in;
  text-align: center;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0.25in;
}
.week-spread .day-cell .cell-header .day-of-week {
  flex: 1;
  padding-left: 0.2em;
}
.week-spread .day-cell .cell-content {
  display: flex;
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  height: calc((1in / 6) * 9.5);
}
.week-spread .day-cell .cell-content > * {
  flex: 1;
}
.week-spread .day-cell .cell-content .vertical-sep {
  min-width: 3px;
  flex: 0;
  background: linear-gradient(to bottom, #c0c0c0 0%, #ffffff 50%);
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.week-spread .goals-cell {
  width: calc((1in / 6) * 8);
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
}
.week-spread .blockers-cell {
  width: calc((1in / 6) * 8);
  border-top: 1px dashed black;
}
.week-spread .moments-cell {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
}
